.slidev-vclick-target {
  transition: 200ms filter linear;
  transition: 200ms -webkit-filter linear;
}
.slidev-vclick-hidden {
  filter: blur(5px) !important;
  pointer-events: none;
  opacity: 1 !important;
}
